@tailwind base;
@tailwind components;
@tailwind utilities;

/** for crx - chrome extension plugin framework */
#crx-root {
    /* z-index: 999; */
    /* margin: auto; */
}

:root {
    --navbar-height: 56px;
    color-scheme: dark light;
    --color-bg-primary: #343a40;
    --color-bg-secondary: #2c3034;
    --color-text-active-primary: #f8f9fa;
    --color-text-active-secondary: #eaecef;
    --color-text-inactive-primary: #f8f9fa80;
    --color-text-inactive-secondary: #eaecef80;
    --color-text-inactive-textbox: #40454b;
    --color-token-green: #caffbf;
    --color-token-grey: #4c5257;
    --color-token-yellow: #ffaead;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    touch-action: manipulation;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html * {
    font-family: 'Rumiko Clear';
    color: var(--color-text-active-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

textarea {
    border: none;
}

/********** CUSTOM SCROLLBAR *********/
html,
body {
    scrollbar-gutter: stable both-edges;
}

/* Optional: customize the appearance of all scrollbars */
*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    margin-right: -5px;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

/********** FONT: Rumiko Clear **********/
@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-RegularItalic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Clear';
    src: url('/fonts/RumikoClearDemo-ThinItalic.otf');
    font-weight: 100;
    font-style: italic;
}

/********** FONT: Rumiko Sans **********/
@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-RegularItalic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rumiko Sans';
    src: url('/fonts/RumikoSansDemo-ThinItalic.otf');
    font-weight: 100;
    font-style: italic;
}
